<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="H_ENC___Helix_Encryption.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="H_ENC___Helix_Encryption.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <H_ENC___Helix_Encryption.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultCompress" serializeAs="String">
                <value>Data\DENC\</value>
            </setting>
            <setting name="ckMD5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ckSHA1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encPATH" serializeAs="String">
                <value>Data\HENC\</value>
            </setting>
            <setting name="extFile" serializeAs="String">
                <value>.henc</value>
            </setting>
            <setting name="passkey" serializeAs="String">
                <value />
            </setting>
            <setting name="keyspice" serializeAs="String">
                <value />
            </setting>
            <setting name="decPATH" serializeAs="String">
                <value>Data\DENC\</value>
            </setting>
            <setting name="dec_last" serializeAs="String">
                <value>DecrFolder + inFile.Substring(0, inFile.LastIndexOf(".")) + ".denc";</value>
            </setting>
        </H_ENC___Helix_Encryption.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.extensions" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <H_ENC___Helix_Encryption.Properties.Settings>
      <setting name="pubkey" serializeAs="String">
        <value />
      </setting>
    </H_ENC___Helix_Encryption.Properties.Settings>
  </applicationSettings>
</configuration>